@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family        : "IBM Plex Sans", Roboto, "Helvetica Neue", sans-serif;
  background-image   : radial-gradient(#cec7bf 5%, #f1ece5 5%);
  background-position: 0 0;
  background-size    : 25px 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #423f38;
}

a {
  color: #b04746;
}

code {
  background-color: #dde3e0;
}
.hljs {
  font-family     : "Fira Code", Menlo, Consolas, monospace;
  background-color: #f7f6f4;
}

samp {
  background-color: #e7e1d7;
  padding: 3px;
  border-left: 3px solid #7c9baf;
}
.nb-box {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.nb-small {
  font-size: 0.8rem;
}

button.nb-small {
  float        : right;
  padding      : 2px;
  padding-right: 5px;
  padding-left : 5px;
}

section#source {
  display: none
}